label{
    font-family: 'Roboto', sans-serif;
}
fieldset{
    font-family: 'Roboto', sans-serif;
    color:black;
}
.container{
    background-color:grey;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
}
table {
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}
.col-md-4 control-label{
    position: relative;
    width: 100%;
}


